@import '~shared/styles/common';
@import '~shared/styles/visibility';

.header {
  color: $white;
  font-weight: 600;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  transition: background-color 0.5s ease;

  &.light {
    background-color: initial;
  }

  &.dark {
    background-color: $darker-blue;
  }

  .contain {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .menu {
    width: 100%;
    display: flex;
    align-items: center;
    // justify-content: space-between;
    // For just two menu items:
    justify-content: center;

    @include media($screen-md) {
      flex-direction: column;
    }

    @include media($screen-lg) {
      flex-direction: row;
    }

    .logo {
      @extend .cursive-font;
      @include font-size(36);
      margin: 0 20px;
      text-decoration: none;
      color: $white;

      &:hover {
        cursor: pointer;
      }

      @include media($screen-sm) {
        @include font-size(44);
        margin: 0 20px;
      }

      @include media($screen-md) {
        @include font-size(56);
        margin-bottom: rem(10);
      }

      @include media($screen-lg) {
        margin-bottom: 0;
      }
    }

    &__icon {
      height: rem(20);
      width: rem(20);
    }

    &__list {
      list-style: none;
      padding-left: 0;

      &-item {
        @extend .print-font;
        @include font-size(20);
        font-weight: 600;
        display: inline-block;
        margin: 0 rem(20);

        &:hover {
          cursor: pointer;
        }

        a {
          color: $white;
          text-decoration: none;
        }

        .btn {
          border-color: $white;
          @include font-size(16);
        }
      }
    }
  }

  .mobile-menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: $default-spacing-sm;
    background: $darker-blue;
    top: 0;
    left: -999px;
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    transition: left .3s ease;

    &.open {
      left: 0;
    }

    &__close {
      align-self: flex-end;
    }

    &__items {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: $default-spacing-sm;

      .menu__list-item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        height: 27%;
        margin: rem(15);
        border: 2px solid $dark-yellow;
        border-radius: $border-radius;

        &:active {
          background: $dark-yellow;
        }
      }
    }
  }
}
