@import '../../../assets/styles/mixins';

.data-table {
  .footer {
    padding: rem(10) rem(20);
    display: flex;
    justify-content: flex-end;

    .add-button {
      width: 36px;
      height: 36px;
    }
  }
}
