@import '~shared/styles/common';

.austin {
  .event {
    margin: rem(10);
    flex: 1;
    text-align: center;

    &--title {
      @include font-size(24);
      @extend .print-font;
      line-height: rem(32);
      letter-spacing: 2px;
      margin: 0;
    }


    @include media($screen-md) {
      margin: rem(20);
    }

    @include media($screen-xl) {
      margin: rem(30);
    }
  }
}
