@import '../../assets/styles/common';

.countdown {
  display: flex;
  justify-content: center;

  .unit {
    .unit-value {
      @extend .print-font;
      @include font-size(32);
      display: flex;
      justify-content: center;
      align-items: center;

      background: rgba(255, 255, 255, 0.4);
      color: $white;

      font-weight: 700;
      margin: 10px;
      border-radius: 4px;
      height: 80px;
      width: 70px;
    }

    .unit-label {
      @extend .cursive-font;
      @include font-size(36);
      color: $white;
      font-size: 2.2em;
    }
  }
}

// @media only screen and (max-width: $screen-sm-2) {
//   .countdown {
//     margin: 1rem;
//   }
// }
