@import '~shared/styles/common';

.header {
  // @extend .print-font;
  color: $white;
  font-weight: 600;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  transition: background-color 0.5s ease;

  &.light {
    background-color: initial;
  }

  &.dark {
    background-color: $dark-blue;
  }

  .contain {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    @extend .cursive-font;
    @include font-size(56);
    text-decoration: none;
    color: $white;

    &:hover {
      cursor: pointer;
    }
  }

  .menu {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__icon {
      height: 25px;
      width: 25px;
    }

    &__list {
      list-style: none;
      padding-left: 0;

      &-item {
        @extend .print-font;
        @include font-size(20);
        font-weight: 600;
        display: inline-block;
        margin: 0 20px;

        &:hover {
          cursor: pointer;
        }

        a {
          color: $white;
          text-decoration: none;
        }

        .btn {
          border-color: $white;
          @include font-size(16);
        }
      }
    }
  }
}
