@import '~shared/styles/common';

.intro {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  margin: rem(140) 0 rem(30);
  box-sizing: border-box;

  &--content {
    display: inline-block;
  }

  @include media($screen-sm) {
    margin: rem(270) 0 rem(30);
  }

  @include media($screen-md) {
    margin: rem(200) 0 rem(30);
  }

  @include media($screen-lg) {
    margin: rem(200) 0 rem(80);
  }

  @include media($screen-xl) {
    margin: rem(250) 0 rem(150);
  }

  @include media($screen-xxl) {
    margin: rem(250) 0 rem(200);
  }

  .date {
    @extend .print-font;
    @include font-size(32);

    color: $white;
    margin: rem(20);

    @include media($screen-sm) {
      @include font-size(40);
    }

    @include media($screen-md) {
      @include font-size(44);
    }
  }
}
