// COLORS
$dark-gray: #444444;
$dark-blue: #07183F;
$yellow: #EACF64;
$light-gray: #EFEFEF;
$white: #ffffff;

$green: #2D6856;
$gold: #E6B584;
$light-green: #74948B;
$brown: #3F2726;
$light-brown: #AF9B89;


// SCREEN SIZES
$screen-xs: 320px;
$screen-sm: 400px;
$screen-md: 768px;
$screen-lg: 1224px;

// FONT SIZES
.font-32 {
  font-size: 2rem;
  line-height: 2.25rem;
}

.font-36 {
  font-size: 2.25rem;
  line-height: 2.625rem;
}

.font-48 {
  font-size: 3rem;
  line-height: 3.5rem;
}

.font-64 {
  font-size: 4rem;
  line-height: 5rem;
}

.font-80 {
  font-size: 5rem;
  line-height: 6rem;
}

.cursive-font {
  font-family: 'Rochester', cursive;
  // font-family: 'Lobster Two', cursive;
}

.print-font {
  font-family: 'Poiret One', cursive;
  text-transform: uppercase;
}
