@import '~shared/styles/common';

.data-table-container {
  .footer {
    padding: rem(10) $default-spacing-sm;
    display: flex;
    justify-content: flex-end;
    box-sizing: border-box;

    .add-button {
      width: 36px;
      height: 36px;
    }
  }
}
