@import 'mixins';

// COLORS
$dark-yellow: #D4AF37;
$yellow: #E5C86A;
$light-yellow: #F0DEA3;
$dark-blue: #05213C;
$darker-blue: #061831;
$white: #ffffff;
$red: #EE3108;


// SCREEN SIZES
$screen-sm: 320px;
$screen-sm-2: 420px;
$screen-sm-3: 500px;
$screen-md: 768px;
$screen-lg: 1224px;


// MISC
$border-radius: rem(4);
$max-content-width: 1020px;
$default-spacing-sm: rem(20);
$default-spacing-md: rem(32);
$default-spacing-lg: rem(40);
$container-padding: rem(16) $default-spacing-md;

.cursive-font {
  font-family: 'Rochester', cursive;
  font-weight: 400;
}

.print-font {
  font-family: 'Poiret One', cursive;
  text-transform: uppercase;
}

.paragraph-font {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  letter-spacing: .5px;
}

.info-font {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: rem(20);
  line-height: rem(30);
  letter-spacing: 1.5px;
  color: $yellow;
}

.contain {
  max-width: $max-content-width;
  margin-left: auto;
  margin-right: auto;
  padding: $container-padding;
}

.error {
  padding: rem(12);
  color: $white;
  background-color: lighten($red, 20);
  border: 1px solid $red;
  border-radius: $border-radius;
}


// BUTTONS
.btn {
  padding: rem(10) rem(15);
  border-radius: $border-radius;

  &:hover {
    font-weight: 600;
    cursor: pointer;
  }
}
