$base-font-size: 16;

@function rem($size) {
  @return ($size / $base-font-size) + rem;
}

@mixin font-size($size) {
  font-size: rem($size);
  line-height: rem($size * 1.1);
}

@mixin media($screen-size) {
  @media only screen and (max-width: $screen-size) {
    @content;
  }
}
