@import '../../assets/styles/common.scss';

.header {
  @extend .print-font;
  color: $white;
  font-weight: 600;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  transition: background-color 0.5s ease;

  &.light {
    background-color: initial;
  }

  &.dark {
    background-color: $dark-gray;
  }

  .logo {
    @include font-size(28);
    height: 70px;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: -4px;
    border-radius: 50%;
    border: 2px solid $white;

    a {
      text-decoration: none;
      color: $white;
    }
  }

  .menu-mobile {
    display: none;

    .menu-icon {
      height: 25px;
      width: 25px;
    }
  }

  .menu-desktop {
    display: initial;

    ul.menu-list {
      list-style: none;

      li.menu-item {
        @include font-size(22);
        font-weight: 600;
        display: inline-block;
        margin: 0 20px;

        &:hover {
          cursor: pointer;
        }

        a {
          color: $white;
          text-decoration: none;
        }

        .btn {
          border-color: $white;
          @include font-size(16);
        }
      }
    }
  }
}

@media only screen and (max-width: $screen-md) {
  .header {
    .menu-mobile {
      display: initial;
    }

    .menu-desktop {
      display: none;
    }
  }
}

@media only screen and (max-width: $screen-sm-2) {
  .header {
    .logo {
      @include font-size(28);
      height: 70px;
      width: 70px;
    }
  }
}

@media only screen and (max-width: $screen-sm) {
  .header {
    padding: 1rem;

    .logo {
      @include font-size(24);
      height: 60px;
      width: 60px;
    }
  }
}
