@import '../../assets/styles/common.scss';

.admin {
  @extend .paragraph-font;
  .content {
    display: flex;
    padding: rem(48);

    .menu-container {
      flex: 0 250px;
      margin-right: rem(48);
    }

    .table-container {
      flex: 0 100%;
    }
  }
}
