@import '~shared/styles/common';

.app {
  .background-photo {
    position: relative;
    background: url('../../images/j-and-k.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100%;

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 100%;
      background-color: rgba(6,24,49, .45);
    }

    .content {
      position: relative;
      z-index: 2;
      height: 100%;
    }
  }

}

@media only screen and (max-width: $screen-md) {
  .app .background-photo {
    background: url('../../images/j-and-k-medium.jpg');
    background-size: cover;
    background-position: center;
  }

  .pages .section {
    padding: 1em;
  }
}

@media only screen and (max-width: $screen-sm-2) {
  .app .background-photo {
    background: url('../../images/j-and-k-small.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
  }
}
