@import '~shared/styles/common';

.background-image {
  position: relative;
  width: 100%;
  height: 100%;

  &__overlay {
    background-size: cover;
    background-position: center bottom;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;

    &:before {
      content: '';
      position: absolute;
      display: block;
      height: 100%;
      width: 100%;
      z-index: 2;
      background-color: rgba(6,24,49, .45);
    }

    @include media($screen-lg) {
      background-position: bottom;
    }

    @include media($screen-xxl) {
      background-position: center;
    }
  }

  &__content {
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 3;
    height: 100%;
    width: 100%;
  }
}