@import '~shared/styles/common';

.home {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .hero {
    position: relative;

    &__overlay {
      background-size: cover;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 100%;

      &:before {
        content: '';
        position: absolute;
        display: block;
        height: 100%;
        width: 100%;
        z-index: 2;
        background-color: rgba(6,24,49, .45);
      }
    }

    &__content {
      position: relative;
      z-index: 3;
      height: 100%;
    }
  }

  .stars-container {
    position: fixed;
    display: flex;
    z-index: 2;
    justify-content: space-between;
    box-sizing: border-box;
    top: 0;
    width: 100vw;
    height: 100%;
    padding: 0 10px;

    .stars-left {
      width: 100%;
      height: 100px;
      margin-top: 70px;
    }

    .stars-right {
      display: none;
    }

    @include media($screen-sm) {
      .stars-left {
        margin-top: 90px;
        height: 175px;
      }
    }

    @include media($screen-md) {
      .stars-left {
        margin-top: 0;
      }

      .stars-right {
        display: initial;
      }

      .stars-left, .stars-right {
        width: calc((100% - #{$max-content-width}) / 2);
        height: 100%;
      }
    }

    // TODO: Add back when we include the header
    // height: calc(100% - 100px);

    // @include media($screen-lg) {
    //   top: 100px;
    // }
  }

  .save-the-date {
    @extend .cursive-font;
    margin-top: rem(70);
    margin-bottom: rem(50);
    font-size: rem(50);
    line-height: rem(60);
    text-align: center;

    p {
      @extend .paragraph-font;
      font-size: rem(20);
      line-height: rem(28);

      &.small {
        font-size: rem(14);
      }
    }
  }

  .content {
    flex: 1;
    background: $darker-blue;
    color: $white;
  }
}
