@import '~shared/styles/common';

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .hero {
    min-height: 400px;

    &__content {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
    }

    @include media($screen-md) {
      min-height: 500px;
    }

    @include media($screen-lg) {
      min-height: 600px;
    }

    @include media($screen-xl) {
      min-height: 700px;
    }
  }

  .content {
    flex: 1;
    background: $darker-blue;
    color: $white;
  }
}
