@import 'mixins';

// COLORS
$dark-gray: #444444;
$dark-blue: #07183F;
$yellow: #EACF64;
$light-gray: #EFEFEF;
$white: #ffffff;
$red: #EE3108;

$green: #2D6856;
$gold: #E6B584;
$light-green: #74948B;
$brown: #3F2726;
$light-brown: #AF9B89;


// SCREEN SIZES
$screen-sm: 320px;
$screen-sm-2: 420px;
$screen-sm-3: 500px;
$screen-md: 768px;
$screen-lg: 1224px;


// MISC
$border-radius: rem(4);
$max-content-width: 1020px;
$container-padding: rem(16) rem(32);

.cursive-font {
  font-family: 'Rochester', cursive;
  // font-family: 'Lobster Two', cursive;
}

.print-font {
  font-family: 'Poiret One', cursive;
  text-transform: uppercase;
}

.paragraph-font {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  letter-spacing: .5px;
}

.contain {
  max-width: $max-content-width;
  margin-left: auto;
  margin-right: auto;
  padding: $container-padding;
}

.error {
  padding: rem(12);
  color: $white;
  background-color: lighten($red, 20);
  border: 1px solid $red;
  border-radius: $border-radius;
}


// BUTTONS
.btn {
  padding: rem(10) rem(15);
  border: 1px solid $dark-gray;
  border-radius: $border-radius;

  &:hover {
    font-weight: 600;
    cursor: pointer;
  }
}
