@import './common';

/**
* VISIBILITY HELPER: see README for useage
*/

$screen: (
  xs: $screen-xs,
  sm: $screen-sm,
  md: $screen-md,
	lg: $screen-lg,
	xl: $screen-xl
);

$display: (
	flex: flex,
	inline: inline,
	inline-block: inline-block
);

@mixin show($size, $display, $opt: '') {
	$target-screen-size: map-get($screen, $size);

	@each $key, $val in $screen {
		@include media($val) {
			@if $size == $key {
				display: $display !important;
			} @else if $opt == 'up' and $val > $target-screen-size {
				display: $display !important;
			} @else {
				display: none !important;
			}
		}
	}
}

@mixin show-range($small-size, $large-size, $display) {
	$smaller-target: map-get($screen, $small-size);
	$larger-target: map-get($screen, $large-size);

	@each $key, $val in $screen {
		@include media($val) {
			@if $val >= $smaller-target and $val <= $larger-target {
				display: $display !important;
			} @else {
				display: none !important;
			}
		}
	}
}

@each $key, $val in $screen {
  .show_#{$key} {
		@include show($key, block);

		@each $display-key, $display-val in $display {
			&.show_#{$display-val} {
				@include show($key, $display-val);
			}
		}
	}

	.show_#{$key}_up {
		@include show($key, block, 'up');

		@each $display-key, $display-val in $display {
			&.show_#{$display-val} {
				@include show($key, $display-val, 'up');
			}
		}
	}

	// Support range options
	@each $key2, $val2 in $screen {
		@if $key2 != $key and $val2 > $val {
			.show_#{$key}_#{$key2} {
				@include show-range($key, $key2, block);

				@each $display-key, $display-val in $display {
					&.show_#{$display-val} {
						@include show-range($key, $key2, $display-val);
					}
				}
			}
		}
	}
}

